.container{
    display:grid;
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "nav nav nav nav"
        "sidebar main main main"
        "sidebar main content main"
        "sidebar footer footer footer";
}
#container{
    background: #e0def4;
}

nav{
    background: #eb6f92;
    grid-area: nav;
}

main{
    background: #f6c177;
    grid-area: main;
}

#sidebar{
    background: #ebbcba;
    grid-area: sidebar;
}

#content{
    background: #9ccfd8;
    grid-area: content;
}

footer{
    background: #c4a7e7;
    grid-area: footer;
}