:root{
    --main-radius:5px;
    --main-padding:5px;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "nav main main main";
    grid-gap: 0.2rem;
    font-family:"Inter", sans-senif;
    font-weight:800;
    text-transform: uppercase;
    color:#191724;
    text-align: center;
    font-size:1.5em;
}

nav{
    background: #c4a7e7;
    grid-area: nav;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

a{
  text-decoration: none;
  color: #191724;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    background: #e0def4;
    grid-area: main;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}

dl{
    display: flex;
    flex-direction: column;
    text-align: left;
      font-size: 75%;
  }


.card {
    background: #9ccfd8;
    flex: 1;
    font-size: .8em;
    flex-basis: auto;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
    margin: 1em;
}

form{
    display:flex;
    font-size: .5em;
    flex-direction: column;
    align-items: stretch;
}

.buttons{
    display:flex;
    flex-direction: row;    
}

.block {
  display: block;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
  margin: 2px;
}

@media only screen and (max-width: 550px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 1fr;
      grid-template-areas:
        "nav"
        "main";
      font-size: 1em;
    }
    main{
    flex-direction: column;
    flex-wrap: wrap;
    flex-flow: column wrap;
    align-items: flex-start;
    align-content: flex-start;
}
    .card{
        flex-grow: 1;
        width: 80vw;
    }
  }